# Exclusión específica de fotos y modelos
data/*
!.gitignore
modelos/*
!.gitignore
exports


# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.env/

# Archivos de Kivy
*.kivy/
.kivy/
*.log

# Archivos de IDE
.vscode/
.idea/
*.swp
*.sublime*

# Archivos de compilación
build/
dist/
*.egg-info/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entrenamiento (adicionales)
*.weights
*.index
*.meta
*.pb
*.tflite